include ../_vars.pug
header
	div#logo_bar
		div#logo_area
			a(href="index.html")
				img(src=img_dir + "/logo.gif")
		div#advert_header
	nav
		ul
			li: img(src=img_dir + "/game.jpg")
			li: img(src=img_dir + "/chat.jpg")
			li: img(src=img_dir + "/bbs.jpg")
			li: img(src=img_dir + "/flash.jpg")
			li: img(src=img_dir + "/dreamweaver.jpg")

